html {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Telex', sans-serif;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
}
code {
    font-family: monospace;
}

body {
    background: #f5f5fc;
}

#page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
}

#floater {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 1068px;
    width: 100%;
}

/* a */
a, a:visited {
    text-decoration: none;
    color: #00293D;
}

a:hover {
    color: #6697AF;
}

/* nav */
#nav {
    margin-right: 40px;
    margin-top: 25px;
    background: #00527A;
    padding: 30px 0px;
}

nav {}

nav a, nav a:visited {
    text-decoration: none;
    color: #FFF;
    width: 100%;
    background: #00293D;
    margin-top: 3px;
    padding-right: 10px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: block;
}

nav a:hover {
    color: #6697AF;
}

nav a.current-url {
    background: #5c1f1f;
    width: 115%;
}

/* masthead */
#masthead {
    color: #00293D;
    margin-left: auto;
    margin-right: auto;
}
#masthead * {
    font-size: 20px;
}


#masthead h1, #masthead h2 {
    display: inline;
}

#banner h1 {
    font-size: 20px;
}

#masthead h2 {}

/* content */
#content {
    max-width: 900px;
    padding-top: 25px;
}

#content a, #content a:visited {
    color: rgb(130,0,0);
}

#content a:hover {
    text-decoration: underline;
}

/* home */

#home {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-left: 10px;
}

#me {
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
}

.contact {
    font-size: 17px;
    font-family: 'PT Mono', ;
}

#bio {
    text-align: justify;
    max-width: 631px;
}

#bio p {
    margin-bottom: 10px;
}

/* projects */
#projects {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#projects a, #projects a:visited {
    text-decoration: none;
    color: #00293D;
}

#projects a:hover {
    color: #6697AF;
    text-decoration: none;
}

.project {}

.project p {
    text-align: center;
}

.project a div {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.project a div img {
    width: 210px;
    height: 210px;
}

/* papers */

#pubs {
    margin-left: 10px;
}

.pub {
    margin-bottom: 10px;
    background-color: rgb(238, 238, 255);
    padding: 10px;
    width: 100%;
}

.pub * {
    font-size: 18px;
}

.pubtitleline {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.pubtitle {
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 3.6px;
}

.publinks {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-right: -3px;
}

.publink {
    margin-left: 3px;
    margin-right: 3px;
}

.authors-list {
    font-size: 16px;
}

article h2 {
    font-size:1em;
}

/* footer */

#footer {
    align-self: center;
    -webkit-align-self: center;
}

#footer a, #footer a:visited {
    color: rgb(130,0,0);
}

#footer a:hover {
    text-decoration: underline;
}

/* blog */

.post {
    margin-left: 10px;
    text-align: justify;
}
